<div class="mt-4">
  <form class="row g-3" method="post">
    <div class="col-auto">
      <label for="searchInput" class="visually-hidden">Tìm kiếm</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
    </div>
    <div class="col-auto">
      <button id="searchWeather" type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
    </div>
  </form>
</div>